body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


section{
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  
}

.tour-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  
}

.tour-package{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  
}
.three-sum{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 1rem;
}

.tour-container {
  position: relative;
  display: inline-block;
}
.tour-img{
  width: 400px;
  height: 300px;
  border-radius: 10px  10px 0 0;
}
.tour-price {
  position: absolute;
  top: -16px;
  right: 0.1px;
  background-color: rgb(41, 199, 144);
  padding: 5px;
  border-radius: 0 10px 0 0;
  /* opacity: 0.5; */
  color: white;
}


.show-and-hide-btn{
  border: none;
  border-radius: 5px;
  background-color: white;
  color: green;
  font-weight: bolder;
  font-size:small;

}

.delete-btn{
  background-color: white;
  border-radius: 10px;
  border: 1px solid green;
  color: black;
  padding: 0.5rem;
  width: 100%;
  font-weight:500;
  font-size: larger;
  cursor: pointer;
}
.delete-btn:hover{
  transform: scale(1.01);
  background-color: rgb(41, 199, 144);
  color: white;
}

.refresh-btn{
  width: 50%;
  background-color: slategray;
  border-radius: 10px;
  border: 1px solid green;
  color: black;
  padding: 0.5rem;
  /* font-weight: bolder; */
  font-size: larger;
  cursor: pointer;
}